jax-ws-client-stub-generator/src/test/resources/wsdl/account.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.4-b01. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.ws.backend.framework.web.appverse.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ws.backend.framework.web.appverse.org/"
	name="AccountServiceImplService">
	<types>

		<xs:schema xmlns:tns="http://ws.ws.backend.framework.web.appverse.org/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://ws.ws.backend.framework.web.appverse.org/">
			<xs:element name="getAccount" type="tns:getAccount" />
			<xs:element name="getAccountByClient" type="tns:getAccountByClient" />
			<xs:element name="getAccountByClientResponse" type="tns:getAccountByClientResponse" />
			<xs:element name="getAccountObjects" type="tns:getAccountObjects" />
			<xs:element name="getAccountObjectsResponse" type="tns:getAccountObjectsResponse" />
			<xs:element name="getAccountResponse" type="tns:getAccountResponse" />
			<xs:element name="getAccounts" type="tns:getAccounts" />
			<xs:element name="getAccountsResponse" type="tns:getAccountsResponse" />
			<xs:complexType name="getAccount">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getAccountResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:account" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="account">
				<xs:sequence>
					<xs:element name="balance" type="xs:decimal" minOccurs="0" />
					<xs:element name="customer" type="tns:customer"
						minOccurs="0" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element name="age" type="xs:int" />
					<xs:element name="desc" type="xs:string" minOccurs="0" />
					<xs:element name="location" type="xs:string" minOccurs="0" />
					<xs:element name="name" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAccounts">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getAccountsResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAccountByClient">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAccountByClientResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getAccountObjects">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="getAccountObjectsResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:account" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="getAccountByClient">
		<part name="parameters" element="tns:getAccountByClient" />
	</message>
	<message name="getAccountByClientResponse">
		<part name="parameters" element="tns:getAccountByClientResponse" />
	</message>
	<message name="getAccountObjects">
		<part name="parameters" element="tns:getAccountObjects" />
	</message>
	<message name="getAccountObjectsResponse">
		<part name="parameters" element="tns:getAccountObjectsResponse" />
	</message>
	<message name="getAccounts">
		<part name="parameters" element="tns:getAccounts" />
	</message>
	<message name="getAccountsResponse">
		<part name="parameters" element="tns:getAccountsResponse" />
	</message>
	<message name="getAccount">
		<part name="parameters" element="tns:getAccount" />
	</message>
	<message name="getAccountResponse">
		<part name="parameters" element="tns:getAccountResponse" />
	</message>
	<portType name="AccountService">
		<operation name="getAccountByClient">
			<input
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountByClientRequest"
				message="tns:getAccountByClient" />
			<output
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountByClientResponse"
				message="tns:getAccountByClientResponse" />
		</operation>
		<operation name="getAccountObjects">
			<input
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountObjectsRequest"
				message="tns:getAccountObjects" />
			<output
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountObjectsResponse"
				message="tns:getAccountObjectsResponse" />
		</operation>
		<operation name="getAccounts">
			<input
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountsRequest"
				message="tns:getAccounts" />
			<output
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountsResponse"
				message="tns:getAccountsResponse" />
		</operation>
		<operation name="getAccount">
			<input
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountRequest"
				message="tns:getAccount" />
			<output
				wsam:Action="http://ws.ws.backend.framework.web.appverse.org/AccountService/getAccountResponse"
				message="tns:getAccountResponse" />
		</operation>
	</portType>
	<binding name="AccountServiceImplPortBinding" type="tns:AccountService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getAccountByClient">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAccountObjects">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAccounts">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getAccount">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="AccountServiceImplService">
		<port name="AccountServiceImplPort" binding="tns:AccountServiceImplPortBinding">
			<soap:address location="http://localhost:9999/ws/AccountService" />
		</port>
	</service>
</definitions>